* {
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Arial;
}

.container {
    width: 800px;
    background-color: #e3fcff;
    margin: auto;
}
.container .get-link {
    padding: 20px;
    display: flex;
    background-color: #e2ebec;
}
.container .get-link input{
    width: 100%;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    height: 50px;
}
.container .get-link input:focus{
    outline: 2px solid #079aad;
}
.container .get-link .get-button {
    background-color: #079aad;
    color: #fff;
    height: 50px;
    font-size: 25px;
    padding: 15px 20px;
    margin-left: 20px;
    text-align: center;
    line-height: 20px;
    width: 130px;
    cursor: pointer;
}
.container .show-data {
    padding: 20px;
    background-color: #d4e1e2;
}